@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

:root {
    --r-background-color: #ffffff;
    --r-main-color: #222333;
    --r-heading-font: 'Noto Sans';
    --r-main-font: 'Noto Sans';
}

body::after {
    content: url("../images/logo_event.svg");
    position: fixed;
    left: 20px;
    bottom: 20px;
    transform: scale(0.3);
    transform-origin: bottom left;
    z-index: 1000;
}

body::before {
    content: url("../images/onepoint.svg");
    position: fixed;
    right: 120px;
    bottom: 20px;
    transform: scale(1.2);
    transform-origin: bottom right;
    z-index: 1000;
}

.transparency.slide-background.present {
    opacity: 0.40;
}

/* Global background for all slides */
.reveal .slide-background .slide-background:not(.introduction) .slide-background-content {
    background-image: url('../images/main_background.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

.reveal .slides section:first-child,
.reveal .slides section:first-child > h2 {
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}

.smaller {
    font-size: 1.5rem;
}

.rounded > img {
    border-radius: 2rem;
}

.reveal .progress span{
    background-color: #6ABFAD;
}

.reveal .controls {
    color: #6ABFAD;
}

.reveal .slide-number {
    color: #222333;
}

.reveal a {
    color: #6ABFAD;
}

.sidebarblock.column.terminal {
    width: 95%;
    margin: -50px;
}
